// colors
$color-wine: #2A0016
$color-red: #FF5E61
$color-purple: #C1B2FF
$color-background: $color-wine
$color-background-alt: $color-purple
$color-text: $color-red
$color-text-alt: $color-wine
$color-border: $color-red
$color-accent: $color-purple

// type
$font-bluu: "Bluu", sans-serif
$font-syne: "Syne", sans-serif
$heading-font-family: $font-syne
$body-font-family: sans-serif

// h1 = titres & sous-titres
$h1-font-family: $font-bluu

// h2 & h3
$h2-font-family: $font-bluu
$h3-font-family: $font-bluu

// h5 = titres des chapitres
$h5-text-transform: none

// header or menu or nav
$header-background: $color-background
$header-border-bottom-width: 1px

// hero
$hero-background-color: none

// footer
$footer-background-color: none

// borders
$border-width: 1px
$custom-border: var(--border-width) solid var(--color-border)

// button
$btn-border-radius: 0
$btn-color: var(--color-text-alt)
$btn-background: var(--color-background-alt)
$btn-hover-color: var(--color-accent)
$btn-hover-background: var(--color-background)
$btn-border-width: 1px
$btn-border: $btn-border-width solid var(--color-text-alt)
$btn-hover-border: $btn-border