// colors
$color-dark-red: #350011
$color-light-red: #FF373B
$color-background: $color-dark-red
$color-background-alt: $color-light-red
$color-text: $color-light-red
$color-text-alt: $color-dark-red
$color-border: $color-light-red
$color-accent: $color-light-red

// fonts
$font-bluu: "Bluu", sans-serif
$heading-font-family: $font-bluu
$body-font-family: sans-serif

$header-background: $color-background
$header-border-bottom-width: 1px
$hero-background-color: none
$footer-background-color: none