$font-bluu: "Bluu", sans-serif
$heading-font-family: $font-bluu
$body-font-family: sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none