header#document-header
    .logo-text
        font-size: $header-logo-height !important
        @include media-breakpoint-up(desktop)
            font-size: $header-logo-height-desktop !important
    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border

.hero
    @include media-breakpoint-up(desktop)
        padding-bottom: 0
        .content
            align-items: center
            padding-top: 0
            .hero-text
                margin-top: 0
                padding-top: var(--block-space-y)
                padding-bottom: var(--block-space-y)
            .hero-image
                margin-right: var(--grid-gutter-negative)

    @include media-breakpoint-down(desktop)
        + .breadcrumb-container
            margin-top: 0

.breadcrumb-container
    border-top: $custom-border
    border-bottom: $custom-border

footer#document-footer
    .footer-site,
    .footer-logo
            display: none
    .footer-legals
        padding-top: 0
        @include media-breakpoint-down(desktop)
            margin-top: 0
        width: 100%
        justify-content: space-between

    .footer-legals,
    .nav-legal
        display: flex
        gap: space(10)
        @include media-breakpoint-down(desktop)
            flex-direction: column
            gap: $spacing-3

        li,
        .footer-credit
            margin-top: 0
    
    @include media-breakpoint-down(desktop)
        padding-top: $spacing-4
        padding-bottom: $spacing-4
        .container
            + .container,
            > * + *
                margin-top: 0

    @include media-breakpoint-up(desktop)
        padding-top: $spacing-3
        padding-bottom: $spacing-3
        .container
            padding-bottom: 0
            + .container
                padding-top: 0

.block-pages
    &--cards
        padding-top: var(--block-space-y)
        --color-border: var(--color-text)
        ul.pages
            > li
                .page
                    border: $custom-border
                    .media
                        border-bottom: $custom-border
        .page-description
            font-family: $font-syne

.block-gallery
    &--carousel
        .description
            font-family: $font-syne

.posts-navigation, .siblings-navigation
    ul
        a
            font-family: $font-bluu