header#document-header
    .logo-text
        font-size: $header-logo-height !important
        @include media-breakpoint-up(desktop)
            font-size: $header-logo-height-desktop !important
    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border

.hero
    @include media-breakpoint-up(desktop)
        border-bottom: $custom-border
        padding-bottom: 0
        .content
            padding-top: 0
            padding-bottom: 0
            margin-right: var(--grid-gutter-negative)

    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border
        + .breadcrumb-container
            margin-top: 0

.breadcrumb-container
    border-bottom: $custom-border

footer#document-footer
    margin-top: $spacing-6
    .footer-site,
    .footer-logo
            display: none
    .footer-legals
        padding-top: 0
        @include media-breakpoint-down(desktop)
            margin-top: 0
        width: 100%
        justify-content: space-between

    .footer-legals,
    .nav-legal
        display: flex
        gap: space(10)
        @include media-breakpoint-down(desktop)
            flex-direction: column
            gap: $spacing-3

        li,
        .footer-credit
            margin-top: 0
    
    @include media-breakpoint-down(desktop)
        padding-top: $spacing-4
        padding-bottom: $spacing-4
        .container
            + .container,
            > * + *
                margin-top: 0

    @include media-breakpoint-up(desktop)
        padding-top: $spacing-3
        padding-bottom: $spacing-3
        .container
            padding-bottom: 0
            + .container
                padding-top: 0

.block-pages
    &--cards
        --color-border: var(--color-text)
        ul.pages
            > li
                .page
                    border: $custom-border
                    .media
                        border-bottom: $custom-border

.block-chapter
    .notes
        margin-top: $spacing-4