header#document-header
    .logo-text
        font-size: var(--body-size)
    @include media-breakpoint-down(desktop)
        border-bottom: $custom-border

.hero
    @include media-breakpoint-up(desktop)
        border-bottom: $custom-border
        padding-bottom: 0
        .content
            padding-top: 0
            padding-bottom: 0
            margin-right: var(--grid-gutter-negative)

    @include media-breakpoint-down(desktop)
        + .breadcrumb-container
            margin-top: 0

.breadcrumb-container
    border-bottom: $custom-border
    @include media-breakpoint-down(desktop)
        border-top: $custom-border

footer#document-footer
    .footer-site,
    .footer-logo
        display: none
    .footer-legals
        @include media-breakpoint-down(desktop)
            padding-top: space(0)
            margin-top: space(0)
        @include media-breakpoint-up(desktop)
            padding-top: space(0)
        width: 100%
        justify-content: space-between

    .footer-legals,
    .nav-legal
        display: flex
        gap: space(10)
        @include media-breakpoint-down(desktop)
            flex-direction: column
            gap: space(6)

        li,
        .footer-credit
            margin-top: 0

.block-pages
    &--cards
        --color-border: var(--color-text)
        ul.pages
            > li
                .page
                    border: $custom-border
                    .media
                        border-bottom: $custom-border